.ParentItemCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 60px;
}

.ItemCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.ItemImage {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.BottomSelectAmmountBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.SelectAmmountBtn {
    padding: 5px 10px;
    background: rgb(198, 198, 199);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

.BuyItemBtnClass {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.4rem;
}

.ItemCountInputClass {
    width:100%;
    padding: 8px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 1.3rem;
  
}

.ItemPriceClass {
    color: black;
    font-size: 20px;
}

.ItemNameClass {
    color: black;
    font-size: 20px;

}

.FirstChildItemcard {
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    flex-direction: column;
    /* stack items vertically, optional */
    text-align: center;
}