.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    /* Green background */
    color: white;
    padding: 5px 0;
    text-align: center;
    display: none;
    /* Hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sticky-pm-face {
    /* width: 70px; */
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.sticky-currency {
    font-size: 2.5em;
        font-weight: bold;
        font-family: monospace;
        /* Prevents character width changes */
        min-width: 9ch;
        /* Adjust based on max digits, e.g., 9 characters wide */
        text-align: right;
        /* Keeps numbers aligned to the right */
        display: inline-block;
}